{{> nav}}

<div class="container pt-5">
  <div class="row row-cols-2 d-flex justify-content-between">

    <div class="col">
      <div class="card w-75 border-secondary">
        <div class="card-header"><h1 class="m-0">Login</h1></div>
        <div class="card-body">
          <form class="form login-form">
            <div class="form-group">
              <label for="email-login" class="col-sm-2 col-form-label">Email:</label>
              <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
              <label for="password-login" class="col-sm-2 col-form-label">Password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card w-75 border-secondary">
        <div class="card-header"><h1 class="m-0">Sign Up</h1></div>
        <div class="card-body">
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup" class="col-sm-2 col-form-label">Name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup" class="col-sm-2 col-form-label">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup" class="col-sm-2 col-form-label">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="/js/login.js"></script>
