body {
  background-color: rgb(26, 26, 26);
}

a {
  text-decoration: none;
  color: inherit;
}

.formContainer {
  width: 5rem;
}

#divider {
  width: 25rem;
  background-color: white;
  height: 5px;
  margin: 2rem;
}
